.venv/
**/__pycache__/
**/*.pyc
**/node_modules/
**/dist/
backend/stride.db
backend/uploads/
backend/.env
.env
frontend/mobile/.expo/
Thumbs.db
.DS_Store
.vscode/
datasets/augmented/
datasets/raw/images/
